<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        </meta>
        <title>Bienvenidos a MercadoLiebre</title>
    </head>
    
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></img>
        </div>
            <nav>Lugar para poner barra de búsqueda</nav>
        <div>Comprá en cuotas y sin tarjeta de crédito</div>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </header>
    
    <main>
        <section>
            <article>
                <h4>Basado en tu última visita</h4>
                    <p>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    </p>
                <ul>
                    <li>$6.770</li>
                    <li>40% off</li>
                    <li>Cafetera Moulinex</li>
                </ul>
                    <p>
                        <img src="\images\img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                    </p>
                <ul>
                    <li>$230.000</li>
                    <li>20% off</li>
                    <li>MacBook Pro 2019</li>
                </ul>
                    <p>
                        <img src="\images\img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                    </p>
                <ul>
                    <li>$70.500</li>
                    <li>10% off</li>
                    <li>Samsung Galaxy S10</li>
                </ul>
                <p>
                    <img src="\images\img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                </p>
                <ul>
                    <li>$23.200</li>
                    <li>5% off</li>
                    <li>SmartTv Samsung 43"</li>
                </ul>
            </article>
            <article>
                <h4>Seccion ofertas</h4>

                    <p>
                        <img src="\images\img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    </p>
                <ul>
                    <li>$6.770</li>
                    <li>40% off</li>
                    <li>Cafetera Moulinex</li>
                </ul>
                    <p>
                        <img src="\images\img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                    </p>
                <ul>
                    <li>$230.000</li>
                    <li>20% off</li>
                    <li>MacBook Pro 2019</li>
                </ul>
                    <p>
                        <img src="\images\img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                    </p>
                <ul>
                    <li>$70.500</li>
                    <li>10% off</li>
                    <li>Samsung Galaxy S10</li>
                </ul>
                    <p>
                        <img src="\images\img-tv-samsung-smart.jpg" alt="">
                    </p>
                <ul>
                    <li>$23.200</li>
                    <li>5% off</li>
                    <li>SmartTv Samsung 43"</li>
                </ul>
            </article>
        </section>
    </main>
    
    <footer>
        <article>
            <h6>Pagá con tarjeta o en efectivo</h6>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <h6>Envío gratis desde $ 2.500</h6>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un benefiio de Mercado Puntos.</p>
            <h6>Seguridad, de principio a fin</h6>
            <p>¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <h6>Copyright (C) 1999-2020 MercadoLiebre S.R.L.</h6>
        </article>
    </footer>
</html>